xml/henderson_Hands-On-Project_8/degrees.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!--
   New Perspectives on XML
   Tutorial 3
   Review Assignments

   Austin Technical College information technology student list
   Author: Eric Henderson
   Date: 11/3/25 

   Filename:          degrees.xsd
   Supporting Files:  degrees.xml
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:simpleType name="idType">
      <xs:restriction base="xs:ID">
         <xs:pattern value="IT\d{2}-\d{3}-\d{3}" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="codeType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="MP" />
         <xs:enumeration value="SP" />
         <xs:enumeration value="WPA" />
      </xs:restriction>
   </xs:simpleType>

   <xs:element name="comment">
      <xs:complexType>
         <xs:simpleContent>
            <xs:extension base="xs:string">
               <xs:attribute name="date" type="xs:date" use="required" />
            </xs:extension>
         </xs:simpleContent>
      </xs:complexType>
   </xs:element>

   <xs:element name="degree">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="title" type="xs:string" />
            <xs:element name="approvalDate" type="xs:date" minOccurs="0" />
            <xs:element name="effectiveDate" type="xs:date" />
            <xs:element name="summary" type="xs:string" />
            <xs:element name="coordinator" type="xs:string" />
            <xs:element ref="comment" minOccurs="0" maxOccurs="unbounded" />
         </xs:sequence>
         <xs:attribute name="degreeID" type="idType" use="required" />
         <xs:attribute name="degreeCode" type="codeType" use="required" />
      </xs:complexType>
   </xs:element>

   <xs:element name="degrees">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="degree" minOccurs="1" maxOccurs="unbounded" />
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>